body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  36px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #036fab;
}

h2 {
    color: #036fab;
}

h3 {
    color: white;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

.styleWrapper {
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    margin: 0px auto;
}


.styleLeftUpperPanel {
    position:relative;
    float: left;
    background-color: #0E7DC6;
    min-width: 33vw;
    min-height: 66vh;
}

.styleRightUpperPanel {
    position:relative;
    float: left;
    background-color: #c67d00;
    min-width: 66vw;
    min-height: 66vh;
}

.styleLeftUnderPanel {
    position:relative;
    float: left;
    background-color: #35c613;
    min-width: 33vw;
    min-height: 33vh;
}

.styleMiddleUnderPanel {
     position:relative;
     float: left;
     background-color: #c60005;
     min-width: 33vw;
     min-height: 33vh;
 }

.styleRightUnderPanel {
    position:relative;
    float: left;
    background-color: #bf12c6;
    min-width: 33vw;
    min-height: 33vh;
}

.styleFormMap {
    position:relative;
    float: left;
    min-width: 100%;
    min-height: 100%;
}