<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<h3>Add Job </h3>

<form  th:action="@{/addJob}" th:object="${jobRoute}" method="post">
    <div class="formGrid1to2">
        Select Start
        <select th:field="*{NodeStartID}">
            <option th:each="prod : ${ProductionLines}" th:value="${prod.identifier}" th:utext="${prod.name}"> </option>
            <!-- <option value="0"> -- </option> -->
         </select>
     </div>

     <div class="formGrid1to2">
         Select Target
         <select th:field="*{NodeTargetID}">
             <option th:each="prod : ${ProductionLines}" th:value="${prod.identifier}" th:utext="${prod.name}"> </option>
           <!--  <option value="0"> -- </option> -->
        </select>
    </div>
    <div class="formGrid1to2">Payload <input type="text" th:field="*{JobPayload}" /></div>
    <div><button class="styleButton" type="submit">Submit</button></div>
</form>






</html>