<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<h3>Add Job </h3>
<form  th:action="@{/addJob}" th:object="${delTransporterDTO}" method="post">
    <div class="formDelete">
        Select Start
        <select th:field="*{label}">
            <option value=""> -- </option>
            <option th:each="tran : ${transporterlist}"
                    th:value="${tran.label}"
                    th:utext="${tran.label}"/>
        </select>
    </div>

    <div class="formDelete">
        Select Target
        <select th:field="*{label}">
            <option value=""> -- </option>
            <option th:each="tran : ${transporterlist}"
                    th:value="${tran.label}"
                    th:utext="${tran.label}"/>
        </select>
    </div>

    <div><button class="styleButton" type="submit">Submit</button></div>

</form>

</html>