<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<h3>Add new Transporter</h3>
<form class="formAdd" action="#" th:action="@{/addTransporter}" th:object="${newTransporterDTO}" method="post">
    <div class="formGrid1to2" >Label <input type="text" th:field="*{label}" /></div>
    <div class="formGrid1to2" >Max Payload <input type="text" th:field="*{maxPayload}" /></div>
    <div class="formGrid1to2">Battery <input type="text" th:field="*{battery}" /></div>
    <div><button class="styleButton" type="submit">Submit</button></div>
</form>

</html>