<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<h3>Connected </h3>

<div class="formGrid2to1">
    <div>
        Broadcast a test message to the to the inbound topic<br>
        of the ADTD App. This starts a transportation job.
    </div>
    <div>
        <form th:action="@{/broadcast}" method="post">
            <div><button class="styleButton" type="submit">Broadcast</button></div>
        </form>
    </div>
</div>
<hr class="border">


Publish any topic
<form class="formAdd" action="#" th:action="@{/sendJmsMessage}" th:object="${jmsMessage}" method="post">
    <div class="formGrid1to2" >Topic <input type="text" th:field="*{topic}" /></div>
    <div class="formGrid1to2" >Message <input type="text" th:field="*{message}" /></div>
    <div><button class="styleButton" type="submit">Submit</button></div>
</form>

</html>