<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:spring="http://java.sun.com/jsf/core">
<head>

    <link rel="stylesheet" href="/css/main.css"
          th:href="@{/webjars/leaflet/1.6.0/leaflet.css}" />
    <script type="text/javascript" src="/webjars/leaflet/1.6.0/leaflet.js"
            th:src="@{/webjars/leaflet/1.6.0/leaflet.js}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>



<div id="div_Map" style="width:100%; height:100%; position: absolute;"></div>

<script th:inline="javascript">
        /*<![CDATA[*/

//        private double centerLat = 49.003038;
//        private double centerLong = 12.096346;
//        private int zoom = 18;
//        private int minZoom = 1;
//        private int maxZoom = 19;
//        private boolean zoomControl = false;
//        private boolean zoomEnabled = true;
//        private boolean draggingEnabled = true;
//        private String urlTemplate = "http://{s}.tile.osm.org/{z}/{x}/{y}.png";



        var map = L.map('div_Map', {
            center: ['[[${LBasicMapData.centerLat}]]', '[[${LBasicMapData.centerLong}]]'],
            dragging:[[${LBasicMapData.draggingEnabled}]],
            zoomControl:[[${LBasicMapData.zoomControl}]],
            zoom: [[${LBasicMapData.zoom}]]
        });



        L.tileLayer([[${LBasicMapData.urlTemplate}]], {
            id: 'osm',
            maxZoom:[[${LBasicMapData.maxZoom}]],
            minZoom:[[${LBasicMapData.minZoom}]]
        }).addTo(map);

        var i;
        var obj;
        var myStyle;

        var locations = [[${MapLocations}]];
        for (i = 0; i < locations.length; i++) {

             obj = JSON.parse(locations[i]);
             myStyle = {"color": "#557A95", "weight": 5, "opacity": 0.90};

            L.geoJSON(obj, {style: myStyle}).addTo(map);
        }

        var streets = [[${MapRoutes}]];
        for (i = 0; i < streets.length; i++) {

             obj = JSON.parse(streets[i]);
             myStyle = {"color": "#e659ff", "weight": 5, "opacity": 0.65};

            L.geoJSON(obj, {style: myStyle}).addTo(map);
        }



        var markerData = [[${MapMarker}]];



        var MarkerCopllection = new Array;

        for (i = 0; i < markerData.length; i++) {
            var Icon = L.icon({
                iconUrl: '../../images/iconTransporter.png',
                iconSize: [24, 24]
            });

            var marker = L.marker([markerData[i].latitude, markerData[i].longitude], {icon: Icon}).addTo(map);
            MarkerCopllection.push(marker);
        }

        var serverContext = [[@{/}]];
        var olddata;
            (function update() {
            $.ajax({
                url: serverContext + 'map/update',
                success: function(data) {
                    //$('.result').html(data);
                    console.log("success ajax")
                    console.log(data);

                    if(data !== olddata) {
                        for (i = 0; i < MarkerCopllection.length; i++) {
                            map.removeLayer(MarkerCopllection[i]);
                        }


                        for (i = 0; i < data.length; i++) {
                            var Icon = L.icon({
                                iconUrl: '../../images/iconTransporter.png',
                                iconSize: [24, 24]
                            });


                            var marker = L.marker([data[i].latitude, data[i].longitude], {icon: Icon}).addTo(map);
                            MarkerCopllection.push(marker);
                        }

                         olddata = data;
                    }

                },
                complete: function() {
                    // Schedule the next request when the current one's complete
                    setTimeout(update, 5000);

                    console.log("complete")
                }
            });
        })();





        /*]]>*/
    </script>


