<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:spring="http://java.sun.com/jsf/core">
<head>

    <link rel="stylesheet" href="/css/main.css"
          th:href="@{/webjars/leaflet/1.6.0/leaflet.css}" />
    <script type="text/javascript" src="/webjars/leaflet/1.6.0/leaflet.js"
            th:src="@{/webjars/leaflet/1.6.0/leaflet.js}"></script>

    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>

</head>



<div id="div_Map" style="width:100%; height:100%; position: absolute;"></div>

<script th:inline="javascript">
        /*<![CDATA[*/



        var map = L.map('div_Map', {
            center: ['[[${LBasicMapData.centerLat}]]', '[[${LBasicMapData.centerLong}]]'],
            dragging:[[${LBasicMapData.draggingEnabled}]],
            zoomControl:[[${LBasicMapData.zoomControl}]],
            zoom: [[${LBasicMapData.zoom}]]
        });


        L.tileLayer([[${LBasicMapData.urlTemplate}]], {
            id: 'osm',
            maxZoom:[[${LBasicMapData.maxZoom}]],
            minZoom:[[${LBasicMapData.minZoom}]]
        }).addTo(map);

        var i;
        var obj;
        var myStyle;

        var locations = [[${MapLocations}]];
        for (i = 0; i < locations.length; i++) {

             obj = JSON.parse(locations[i]);
             myStyle = {"color": "#557A95", "weight": 5, "opacity": 0.90};

            var layer = L.geoJSON(obj, {style: myStyle});

            switch (obj.properties.Location) {
                case 'GARAGE': layer.bindPopup("Garage"); break;
                case 'PRODUCTION':   layer.bindPopup("Production Line");
            }

            map.addLayer(layer);

        }


        var streets = [[${MapRoutes}]];
        for (i = 0; i < streets.length; i++) {

             obj = JSON.parse(streets[i]);
             myStyle = {"color": "#B1A296", "weight": 5, "opacity": 0.90};

            L.geoJSON(obj, {style: myStyle}).addTo(map);
        }

        var markerData = [[${MapMarker}]];
        var MarkerCopllection = new Object();

        for (i = 0; i < markerData.length; i++) {
            var Icon = L.icon({
                iconUrl: '../../images/iconTransporter.png',
                iconSize: [24, 24]
            });

            var marker = L.marker([markerData[i].latitude, markerData[i].longitude], {icon: Icon});

            marker.bindPopup(markerData[i].label);
            map.addLayer(marker);
            MarkerCopllection[markerData[i].label] = marker;
        }

        var serverContext = [[@{/}]];
            (function update() {
            $.ajax({
                url: serverContext + 'map/update',
                success: function(data) {

                    var deleteList = Object.create( MarkerCopllection );


                    for (i = 0; i < data.length; i++) {
                        // case update existing marker
                        if(MarkerCopllection[data[i].label] != null) {

                            var newLatLng = new L.LatLng(data[i].latitude, data[i].longitude);
                            MarkerCopllection[data[i].label].setLatLng(newLatLng);
                            delete deleteList[data[i].label];

                        }
                        else { // create a new Marker
                            var Icon = L.icon({
                                iconUrl: '../../images/iconTransporter.png',
                                iconSize: [24, 24]
                            });
                            var marker = L.marker([data[i].latitude, data[i].longitude], {icon: Icon});

                            marker.bindPopup(data[i].label);
                            map.addLayer(marker);
                            MarkerCopllection[data[i].label] = marker;

                        }
                    }

                    for(i = 0; i< deleteList.length; i++){
                        map.removeLayer([deleteList[i].label]);
                        delete MarkerCopllection[deleteList[i].label];

                        //TODO:remove after debug
                        console.log("deleted" + MarkerCopllection[deleteList[i].label]);
                    }

                },
                complete: function() {
                    setTimeout(update, 1000);

                }
            });
        })();


        /*]]>*/
    </script>


