body {
    width: 100%;
    height: 100%;
    background-color: #5D5C61;
    margin: 0;
}

h1{
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  36px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
}

h2 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #ffffff;
}

h3 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #ffffff;
}




a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

.styleWrapper {
    width: 100%;
    height: 100%;
    background-color: #5D5C61;
    margin: 8px;
    position: absolute;
}


.styleLeftUpperPanel {
    position:relative;
    float: left;
    background-color: #938E94;
    min-width: calc(33% - 5px);
    min-height: calc(100% - 5px);
    margin: 5px;
    box-sizing: border-box;
}

.styleRightUpperPanel {
    position: relative;
    float: left;
    background-color: #c67d00;
    min-width: calc(66% - 5px);
    min-height: calc(66% - 5px);
    margin: 5px;
    box-sizing: border-box;
    overflow: hidden;
}

.styleUnderPanel {
    position:relative;
    float: left;
    background-color: #938E94;
    min-width: calc(33% - 5px);
    min-height: calc(33% - 5px);
    margin: 5px;
    box-sizing: border-box;
}

.styleFormMap {
    position:relative;
    float: left;
    min-width: 100%;
    min-height: 100%;
}

.styleDetailsPanel{
    padding: 5px 5px 5px 35px;
    overflow:auto;
}

.styleTitlePanel{
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    border-bottom: 1px solid #B1A296;
}
.border{
    border-bottom: 1px solid #B1A296;
    float: bottom;
}

.styleFrom{
    padding: 5px 50px 5px 35px;
    color: #ffffff;
    overflow: hidden;
}

.formGrid1to2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin: 3px;
    padding-left: 5px;
    border:  2px solid #B1A296;
}
.formGrid2to1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin: 3px;
    padding-left: 5px;
    border:  2px solid #B1A296;
}

.styleButton{
    background-color: #B1A296;
    border: none;
    color: #ffffff;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 3px;
    cursor: pointer;
    float: right;
}

.styleStatePanel{
    position:relative;
    float: left;
    background-color: #938E94;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    min-width: calc(33%);
    min-height: calc(33%);
    box-sizing: border-box;

    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

}

.textbox{
    word-wrap:break-word;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

/* #5D5C61 */
/* #938E94 */
/* #7395AE */
/* #557A95 */
/* #B1A296 */