<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Registrierung</title>
</head>
<body>

    <div id="wrapper" class="styleWrapper">

        <div id="leftUpperPanel" class="styleLeftUpperPanel">

            <div id="titlePanel" class="styleTitlePanel">
                <h1>ADTD</h1>
                <h1>Autonomous-Driving-Transportation-Depots</h1>
            </div>

            <div id="detailsPanel" class="styleDetailsPanel">



            </div>

        </div>

        <div id="rightUpperPanel" class="styleRightUpperPanel">

        </div>

        <div id="leftUnderPanel" class="styleLeftUnderPanel">

        </div>

        <div id="middleUnderPanel" class="styleMiddleUnderPanel">

        </div>

        <div id="rightUnderPanel" class="styleRightUnderPanel">

        </div>

    </div>

</body>
</html>